<h1><%= @category.name %></h1>
<p>Total Products: <%= @category.products.count %></p><br>

<% @category.products.reverse.each do |product| %>
  <h2><%= product.name %></h2>
  <%= link_to image_tag(product.url, size: "100x100"), product_path(product) %>
  <p>Description: <%= product.description %></p>
  <p>Price: $<%= product.formatted_price %> </p>
  <p>____________________________________________</p>
<% end %>