<h1>Edit</h1>

<%= link_to "Back to Product", product_path %>

<%= form_for @product do |f| %>
  <div class = "field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class = "field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class = "field">
    <%= f.label :price_in_cents %>
    <%= f.number_field :price_in_cents %>
  </div>
  <div class = "actions">
    <%= f.submit "Edit Product" %>
  </div>
<% end %>