<h1>Homepage</h1>

<%= link_to "Add a new Product", new_product_path %>

<% @products.each do |product| %>
  <h3><%= link_to product[:name], product_path(product) %></h3>
  <%= link_to image_tag(product.url, size: "100x100"), product_path(product) %>
  <p>Description: <%= product[:description] %></p>
  <p>Price: $<%= product.formatted_price %></p>
  <p>Total Reviews: <%= product.reviews.count %></p><br>
<% end %>